#grey{
  color: rgba(56, 55, 54, 0.50);
}
#title{
  font-family:'Hind';
  font-weight:300;
}
#link{
  text-decoration:none;
  color:black;
}
#link:hover{
  color:#90caf9;
  -webkit-transition: color 500ms ease-out 500ms; /* For Safari 3.0 to 6.0 */
  transition: color 500ms ease-out 500ms; /* For modern browsers */

}
