*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
#padding{
  padding:10px;
  font-family:'Hind';
  font-weight: 400;
  font-size:1.7rem;
  margin-top:2rem;

}
#email{
  font-family:'Hind';
  color: rgba(56, 55, 54, 0.50);
  font-size:1.3rem;
}

#about{
  font-family:'Hind';
  font-size:1.2rem;

}
